_.log
.alchemy/
.cache
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.git/beads-worktrees/
.idea
.wrangler/
*.lcov
*.tgz
*.tsbuildinfo
coverage
dist
logs
node_modules
out
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json